body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.header{
    background-color: #1F2937;

}

.upper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lower{
    display: flex;
    justify-content:space-around;
    
    align-items: center;
}

.odinlogo{
    height: 50px;
    width: 50px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    
}
li{
    color: #F9FaF8;
    font-size: 24px;
}

.title{
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 900;
}

.title-text{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: #F9FaF8;
    font-size: 18px;
    font-weight: 700;
}

.header-text{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.odiniamge{
    height: 550px;
    width: 700px;
    padding: 30px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 50px;
}

.boxes{
    display: flex;
    
    gap: 48px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 24px;
    color: #1F2937;
    font-weight: 800;
}

.box-image{
    width: 250px;
    border: 3px solid #1F2937;
    border-radius: 18px;
  
}